MULTI INDEX IN DATA FRAME

In [10]:
import pandas as pd
bigmac=pd.read_csv("bigmac.csv",parse_dates=["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [11]:

bigmac.set_index(["Date","Country"])

In [14]:
bigmac.head(100)

                          Price in US Dollars
Date       Country
2016-01-01 Argentina                     2.39
           Australia                     3.74
           Brazil                        3.35
           Britain                       4.22
           Canada                        4.14
...                                       ...
2015-07-01 Ukraine                       1.55
           United States                 4.79
           Uruguay                       4.13
           Venezuela                     0.67
           Vietnam                       2.75

[100 rows x 1 columns]

In [15]:
bigmac.sort_index()

                          Price in US Dollars
Date       Country
2010-01-01 Argentina                     1.84
           Australia                     3.98
           Brazil                        4.76
           Britain                       3.67
           Canada                        3.97
...                                       ...
2016-01-01 Ukraine                       1.54
           United States                 4.93
           Uruguay                       3.74
           Venezuela                     0.66
           Vietnam                       2.67

[652 rows x 1 columns]

In [16]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [17]:
bigmac.index

MultiIndex([('2016-01-01',      'Argentina'),
            ('2016-01-01',      'Australia'),
            ('2016-01-01',         'Brazil'),
            ('2016-01-01',        'Britain'),
            ('2016-01-01',         'Canada'),
            ('2016-01-01',          'Chile'),
            ('2016-01-01',          'China'),
            ('2016-01-01',       'Colombia'),
            ('2016-01-01',     'Costa Rica'),
            ('2016-01-01', 'Czech Republic'),
            ...
            ('2010-01-01',      'Sri Lanka'),
            ('2010-01-01',         'Sweden'),
            ('2010-01-01',    'Switzerland'),
            ('2010-01-01',         'Taiwan'),
            ('2010-01-01',       'Thailand'),
            ('2010-01-01',         'Turkey'),
            ('2010-01-01',            'UAE'),
            ('2010-01-01',        'Ukraine'),
            ('2010-01-01',  'United States'),
            ('2010-01-01',        'Uruguay')],
           names=['Date', 'Country'], length=652)

In [18]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [19]:
type(bigmac.index[0])

tuple