In [17]:
#import Series using pd.read_csv Function:
import pandas as pd
#squeeze METHOD:
pokemon=pd.read_csv("pokemon.csv",usecols=["Pokemon"]).squeeze("columns")
google=pd.read_csv("google_stock_price.csv",usecols=["Stock Price"]).squeeze("columns")

HEAD AND TAIL METHODS ON SERIES

In [18]:
pokemon.head(5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [19]:
pokemon.head(n=5)

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Pokemon, dtype: object

In [20]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [21]:
google.tail(5)

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [22]:
google.tail(n=4)

3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [23]:
#Remember that this is not a copy or a seperate new data structures from the original data set but it is a view or lens looking

In [24]:
#at different part of the original data set so when we manipulate the view we can accidently manipulate the original one

In [6]:
import pandas as pd
google=pd.read_csv("google_stock_price.csv").squeeze()
google.sort_values(ascending=True)

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [11]:
pokemon=pd.read_csv("pokemon.csv",index_col="Pokemon").squeeze()

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [12]:
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [13]:
pokemon.sort_index(ascending=True)

Pokemon
Abomasnow      Grass
Abra         Psychic
Absol           Dark
Accelgor         Bug
Aegislash      Steel
              ...
Zoroark         Dark
Zorua           Dark
Zubat         Poison
Zweilous        Dark
Zygarde       Dragon
Name: Type, Length: 721, dtype: object

In [17]:
flavors = ["Red", "Blue", "Green", "Orange"]
gatorade=pd.Series(flavors)
gatorade.sort_values()

1      Blue
2     Green
3    Orange
0       Red
dtype: object

EXTRACT VALUES FROM THE SERIES BY INDEX POSITION

In [11]:
import pandas as pd
pokemon=pd.read_csv("pokemon.csv",usecols=["Pokemon"]).squeeze("columns")
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [12]:
pokemon[1]

'Ivysaur'

In [14]:
#pokemon[722] -> mistake

In [16]:
#pokemon[-20]  -> mistake

In [17]:
pokemon[-20:-10]

701      Dedenne
702      Carbink
703        Goomy
704      Sliggoo
705       Goodra
706       Klefki
707     Phantump
708    Trevenant
709    Pumpkaboo
710    Gourgeist
Name: Pokemon, dtype: object

In [19]:
pokemon[0]

'Bulbasaur'

EXTRACT VALUES FROM THE SERIES USING INDEX LABEL

In [21]:
pokemon=pd.read_csv("pokemon.csv",index_col="Pokemon").squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [22]:
pokemon["Bulbasaur"]

'Grass'

In [25]:
pokemon[0] #still work
pokemon[100:200]

Pokemon
Electrode     Electric
Exeggcute        Grass
Exeggutor        Grass
Cubone          Ground
Marowak         Ground
                ...
Espeon         Psychic
Umbreon           Dark
Murkrow           Dark
Slowking         Water
Misdreavus       Ghost
Name: Type, Length: 100, dtype: object

In [24]:
pokemon[["Bulbasaur","Ivysaur","Venusaur"]]

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

GET METHOD IN SERIES ( similar to the slicing values ) with some advantages

In [26]:
# you can get None for non-exist values instead of "Error" as with the previous slicing way

In [27]:
pokemon.get(0)

'Grass'

In [29]:
pokemon.get("Ivysaur")

'Grass'

In [30]:
pokemon.get(["Bulbasaur","Ivysaur","Venusaur"])

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [32]:
pokemon.get("Hallo") #nothingness exist means that None exist, to get None, print()
print(pokemon.get("Hallo"))

None

In [33]:
#You can customize what to print out when the nothingness exist instead of the None default

In [35]:
pokemon.get("Hallo","nonexistant")

'nonexistant'

In [36]:
pokemon.get(["Ivysaur","Venusar"],"Nothinghere")

'Nothinghere'

In [5]:
import pandas as pd
pokemon=pd.read_csv("pokemon.csv",index_col="Pokemon").squeeze()
pokemon

Pokemon
Bulbasaur       Grass
Ivysaur         Grass
Venusaur        Grass
Charmander       Fire
Charmeleon       Fire
               ...
Yveltal          Dark
Zygarde        Dragon
Diancie          Rock
Hoopa         Psychic
Volcanion        Fire
Name: Type, Length: 721, dtype: object

In [6]:
pokemon["Bulbasaur"]="Nie Grass"

In [7]:
pokemon

Pokemon
Bulbasaur     Nie Grass
Ivysaur           Grass
Venusaur          Grass
Charmander         Fire
Charmeleon         Fire
                ...
Yveltal            Dark
Zygarde          Dragon
Diancie            Rock
Hoopa           Psychic
Volcanion          Fire
Name: Type, Length: 721, dtype: object

#customize/overwrite(rewrie+add) values : both with identifier(index,default index) or the label

In [9]:
pokemon[0]="Grass Again"

In [10]:
pokemon[1]="Helloo"

In [11]:
pokemon

Pokemon
Bulbasaur     Grass Again
Ivysaur            Helloo
Venusaur            Grass
Charmander           Fire
Charmeleon           Fire
                 ...
Yveltal              Dark
Zygarde            Dragon
Diancie              Rock
Hoopa             Psychic
Volcanion            Fire
Name: Type, Length: 721, dtype: object

In [13]:
pokemon_df=pd.read_csv("pokemon.csv",usecols=["Pokemon"])
# DOOR, a view of HOUSE ( Door-pure series, House-pure data frame(df))
pokemon_series=pokemon_df.squeeze()
pokemon_series[0]='nie wiem'
pokemon_series

0        nie wiem
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [15]:
#make a copy and without affecting the original

0        nie wiem
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [16]:
google_df=pd.read_csv("google_stock_price.csv",usecols=["Stock Price"])
google_series_copy=google_df.squeeze().copy()
google_series_copy

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [17]:
google_series_copy[0]="Hello"

In [18]:
google_df

      Stock Price
0           50.12
1           54.10
2           54.65
3           52.38
4           52.95
...           ...
3007       772.88
3008       771.07
3009       773.18
3010       771.61
3011       782.22

[3012 rows x 1 columns]

In [19]:
google_series_copy

0        Hello
1         54.1
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: object

In-place Paramter in the () of some METHODS

In [45]:
import pandas as pd
google=(
    pd.read_csv("google_stock_price.csv",
    usecols=["Stock Price"])
    .squeeze("columns")
    .copy()
)

In [46]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [47]:
google=google.sort_values()

In [41]:
google

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [42]:
#in-place method : invoked methods will have permanent impact on the original if the "inplace=True", normally inplace paramter is False defaultly

In [58]:
import pandas as pd
google2=pd.read_csv("google_stock_price.csv",usecols=["Stock Price"]).squeeze().copy()
google2.sort_values(inplace=True)

In [59]:
google2

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

MATHEMATICS METHODS ON SERIES

In [60]:

google=pd.read_csv("google_stock_price.csv",usecols=["Stock Price"]).squeeze()
google.sum()
google.mean()
google.product()
google.max()
google.min()
google.std()
google.count()

3012

In [61]:
google.median()

283.315

In [62]:
google.mode()

0    291.21
Name: Stock Price, dtype: float64

In [63]:
google.describe()  #giving you the descriptive statistics description for you

count    3012.000000
mean      334.310093
std       173.187205
min        49.950000
25%       218.045000
50%       283.315000
75%       443.000000
max       782.220000
Name: Stock Price, dtype: float64

Broadcasting

In [64]:
google+30

0        80.12
1        84.10
2        84.65
3        82.38
4        82.95
         ...
3007    802.88
3008    801.07
3009    803.18
3010    801.61
3011    812.22
Name: Stock Price, Length: 3012, dtype: float64

In [66]:
google-10

0        40.12
1        44.10
2        44.65
3        42.38
4        42.95
         ...
3007    762.88
3008    761.07
3009    763.18
3010    761.61
3011    772.22
Name: Stock Price, Length: 3012, dtype: float64

In [67]:
google*2

0        100.24
1        108.20
2        109.30
3        104.76
4        105.90
         ...
3007    1545.76
3008    1542.14
3009    1546.36
3010    1543.22
3011    1564.44
Name: Stock Price, Length: 3012, dtype: float64

In [68]:
google+11

0        61.12
1        65.10
2        65.65
3        63.38
4        63.95
         ...
3007    783.88
3008    782.07
3009    784.18
3010    782.61
3011    793.22
Name: Stock Price, Length: 3012, dtype: float64

In [69]:
google.add(2)     #all methods without the inplace turning True is just temporary, not the view

0        52.12
1        56.10
2        56.65
3        54.38
4        54.95
         ...
3007    774.88
3008    773.07
3009    775.18
3010    773.61
3011    784.22
Name: Stock Price, Length: 3012, dtype: float64

In [70]:
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

value_counts methods

In [ ]:
pokemon=pd.read_csv("pokemon.csv",usecols="Pokemon").squeeze()

In [71]:
pokemon

Pokemon
Bulbasaur     Grass Again
Ivysaur            Helloo
Venusaur            Grass
Charmander           Fire
Charmeleon           Fire
                 ...
Yveltal              Dark
Zygarde            Dragon
Diancie              Rock
Hoopa             Psychic
Volcanion            Fire
Name: Type, Length: 721, dtype: object

In [73]:
pokemon.value_counts(sort=True)

Water          105
Normal          93
Grass           64
Bug             63
Psychic         47
Fire            47
Rock            41
Electric        36
Ground          30
Poison          28
Dark            28
Fighting        25
Dragon          24
Ghost           23
Ice             23
Steel           22
Fairy           17
Flying           3
Helloo           1
Grass Again      1
Name: Type, dtype: int64

In [74]:
pokemon.value_counts(ascending=True)

Grass Again      1
Helloo           1
Flying           3
Fairy           17
Steel           22
Ice             23
Ghost           23
Dragon          24
Fighting        25
Dark            28
Poison          28
Ground          30
Electric        36
Rock            41
Psychic         47
Fire            47
Bug             63
Grass           64
Normal          93
Water          105
Name: Type, dtype: int64

APPLY METHODS TO THE FUNCTION by USING APPLY()

In [6]:
import pandas as pd
pokemon=pd.read_csv("pokemon.csv",index_col=["Pokemon"]).squeeze()
pokemon.head()

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

In [9]:
def rank_pokemon(pokemon_type):
    if pokemon_type in ["Grass","Fire","Water"]:
        return "Classic"
    elif pokemon_type=="Normal":
        return "Boring"
    else:
        return "TBD"
pokemon.apply(rank_pokemon)  #mình apply function of rank_pokemon vào Series

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           TBD
Zygarde           TBD
Diancie           TBD
Hoopa             TBD
Volcanion     Classic
Name: Type, Length: 721, dtype: object

Map METHOD

In [10]:
mappings={
    "Grass":"Classic",
    "Fire":"Classic",
    "Water":"Classic"
}
pokemon.map(mappings)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object

In [12]:
#Second way we connect two series by map method
pokemon_map_series=pd.Series(mappings)
pokemon_map_series

Grass    Classic
Fire     Classic
Water    Classic
dtype: object

In [13]:
pokemon.map(pokemon_map_series)

Pokemon
Bulbasaur     Classic
Ivysaur       Classic
Venusaur      Classic
Charmander    Classic
Charmeleon    Classic
               ...
Yveltal           NaN
Zygarde           NaN
Diancie           NaN
Hoopa             NaN
Volcanion     Classic
Name: Type, Length: 721, dtype: object